[2020-05-16 08:57] tomoyuki-nezu commented on #188
I'm back. translate the rest.

[2020-05-16 09:12] roanvanscheppingen commented on #182
Most of it done. Proofreading would be nice. I have 1 thing left in caps between brackets, because I was not sure of it. Was difficult to find the right Dutch words carrying the right nuance this time!

Was a pleasure helping you, Nextstrain team <3

[2020-05-16 09:31] satotake commented on #188
@tomoyuki-nezu
Thanks and sorry for my delay
I will check after your finish

[2020-05-16 09:56] tomoyuki-nezu commented on #188
Nop, It's a weekend :)
I'v finished the translation, so please check it. Especially this week, there are many genetic terms and expressions...

[2020-05-16 10:05] tomoyuki-nezu commented on #188
@cassiawag How about Japanese Tweet with this text? I compared Japanese and English (The English text is only for confirmation purposes, not for Tweet.)

This week's # COVID19 status report focuses on virus mutations, why they occur, how important they are, and how they can help track outbreak.
今週の＃COVID19 状況レポートではウイルスの変異に焦点を当て、なぜそれらが発生するのか、どのように重要であるのか、それが世界的な感染拡大の追跡にどのように役立つのかについて報告します。

Thanks

[2020-05-16 10:45] sarameiqi commented on #180
Hi @cassiawag
I can work on it in these days.
Maybe we can prioritize the publication of the May 8 report.
Let me know how do you want to do.
Best

[2020-05-16 11:22] al-epo commented on #180
Hello!
I can work on this translation too! I will start in 30min
@sarameiqi  let me know if you prefer to translate some parts in particular
best

[2020-05-16 11:33] sarameiqi commented on #180
Hi @al-epo
I can translate any part, just start and let me know when you're done!

[2020-05-16 12:40] akifoss commented on #186
Great report @cassiawag !

@codergr I have prepared a hackmd file with a line-by-line translation keeping the english text in there. Report is ready for review :)
https://hackmd.io/w0umeOncSFmIvVbitRDPWw?edit

[2020-05-16 13:05] ghost commented on #186
Thanks @akifoss and @cassiawag excellent work !

"Η πιο πρόσφατη αναφορά κατάστασης επικεντρώνεται σε ιογενείς μεταλλάξεις: γιατί συμβαίνουν, πότε είναι σημαντικές και πώς μπορούν να είναι χρήσιμες για την παρακολούθηση επιδημιών. Η έκθεση είναι τώρα διαθέσιμη στα Ελληνικά.

Δεδομένου ότι τα επαναλαμβανόμενα μοτίβα της ιογενούς εισαγωγής και της εξάπλωσης σε όλο τον κόσμο έχουν καταστεί σαφή, θα θ

[2020-05-16 13:28] satotake commented on #188
@tomoyuki-nezu
I have edited just a few points. Please check it.

It was impressive experience to commit this project
Thank you all folks
@cassiawag @tomoyuki-nezu @fzhang12

I hope that the pandemic will be terminated everywhere in near future.

[2020-05-16 13:53] tomoyuki-nezu commented on #188
@satotake Thank you for your check. I deleted the unnecessary half-width space that I happened to see only one point, and updated it.

@fzhang12 Are you busy this week too?

@cassiawag You can probably publish in this version.

Thank you everyone. It was a great experience for me. I knew that this was a global fight, and I could see the hope. Also, let's get together again with us in the "Improvem

[2020-05-16 13:55] tomoyuki-nezu commented on #188
@satotake Thank you for your check. I deleted the unnecessary half-width space that I happened to see only one point, and updated it.

@fzhang12 Are you busy this week too?

@cassiawag You can probably publish in this version.

Thank you everyone. It was a great experience for me. I knew that this was a global fight, and I could see the hope. Let's get together again with us in the "Improvement" s

[2020-05-16 14:22] al-epo commented on #180
Hi @sarameiqi , I am going to stop now.
I translated until line 162.  I can work on it again tomorrow. I also have some lines I want to discuss, shall I put them on the discussion board?
best,

[2020-05-16 14:45] Simon-LoriereLab commented on #184
Apologies for the delay. @Maijin the text can be pushed!

[2020-05-16 15:35] cassiawag commented on #188
Yes, it will be exciting when we have that improvement situation report (although at least in the United States were a long ways away from that). I'm guessing we'll be more likely to have the big second wave situation reports in October :( The issue about future reports was not an issue but a discussion on the translators discussion page: https://github.com/orgs/nextstrain/teams/translators

[2020-05-16 15:42] #186 closed

[2020-05-16 16:03] sentausa commented on #187
@cassiawag, there are some things that I don't understand in the text, slide 4 ("[Variation in viruses' genetic code is useful for tracing outbreaks](https://nextstrain.org/narratives/ncov/sit-rep/2020-05-15?n=4)"). In the text it's written that the samples in the tree are colored by amino acid present in gene "**ORF1a**", site 57. However, the color legend in the figure shows that it is colored b

[2020-05-16 16:11] cassiawag commented on #186
Published and tweeted: https://nextstrain.org/narratives/ncov/sit-rep/el/2020-05-15

Excellent work @akifoss & @codergr!

[2020-05-16 16:14] cassiawag commented on #188
Published and tweeted: https://nextstrain.org/narratives/ncov/sit-rep/ja/2020-05-15

I used your text, Tommy! Thanks so much all of you

[2020-05-16 16:14] #188 closed

[2020-05-16 17:21] cassiawag commented on #187
Hey @sentausa, you are correct. This is a typo. It should say "ORF3a." Thanks for pointing it out. I've corrected the english version and will work on correcting translations. Can you please update the Indonesian translation accordingly?

[2020-05-16 17:35] sentausa commented on #187
OK @cassiawag, thanks. And what about the "left" or "right" part?

[2020-05-16 17:39] Hirthe commented on #185
@astridgall Hi Astrid, willst du den uebersetzen? Ich haette morgen Abend Zeit. LG Elisabeth

[2020-05-16 17:45] cassiawag commented on #187
That is referring to the position of the mutation in the chart, not the position of the chart on the page. But I can see why that's confusing.

[2020-05-16 17:46] cassiawag commented on #187
Thanks for checking on these things!

[2020-05-16 19:28] zeynephrc commented on #195
Hello,
I think translation is done so I will be proofreading it first thing in the morning tomorrow if it is okay for everyone.

[2020-05-16 19:39] miguelbio commented on #192
Translation finished.

[2020-05-16 19:39] #181 closed

[2020-05-16 19:46] cassiawag commented on #181
Published and tweeted: https://nextstrain.org/narratives/ncov/sit-rep/ar/2020-05-15

Thank you!

[2020-05-16 19:53] SalehA74 commented on #181
Thanks very much for you too Cassia and all the Nextstrain team...It was a pleasure to work with you, I am sad because we will not continue this work for a while. I will keep following the updates at Nextstrain. Regards

[2020-05-16 21:31] benuraa commented on #195
That would be great @zeynephrc!

[2020-05-16 22:21] sentausa commented on #187
@cassiawag I practically finished the translation, but there is a glitch on the formatting of slide 6 that there are words that erroneously italicized in the preview (but not in the translated markdown). I don't know what to do for now, and am waiting for @kumincir for review.

[2020-05-16 22:25] aniafijarczyk commented on #191
Rest of twitter response @cassiawag
"Nasz ostatni raport sytuacyjny koncentruje się na mutacjach wirusa: dlaczego występują, kiedy mają znaczenie i jak mogą być wykorzystane do śledzenia epidemii. Ten raport jest teraz dostępny po polsku.

Od kiedy powtarzalne wzory introdukcji i rozprzestrzeniania się wirusa stały się wyraźne, wstrzymamy się z nowymi raportami tygodniowymi na jakiś czas. Będziemy

[2020-05-17 00:30] miguelbio commented on #192
Translation Ready for proofreading/review, actually.

[2020-05-17 00:32] amadotalita commented on #192
Twitter's translation:

'Nosso mais recente relatório de situação foca nas mutações virais: por que elas ocorrem, quando são importantes e como podem ser úteis no rastreamento de surtos. O relatório já está disponível em português.

Como os padrões repetidos de introdução e disseminação viral por todo o mundo se tornaram claros, faremos uma pausa nos relatórios semanais de situação por um tempo. P

[2020-05-17 00:33] amadotalita commented on #192
miguel, you need to add your twitter account :)

[2020-05-17 00:38] cassiawag commented on #187
Hmm, I haven't seen the italicized bug before. I think it's because "clade" was in brackets. I switched it to parentheses and it's no longer italicized. But now there's double parentheses, which I think is a better faux pas to make.

[2020-05-17 00:56] #184 closed

[2020-05-17 01:02] cassiawag commented on #192
And you @amadotalita need to credit yourself :) I added in your name to translators! It definitely belongs there; proofreading is being a translator.

[2020-05-17 01:14] cassiawag commented on #191
Published and tweeted: https://nextstrain.org/narratives/ncov/sit-rep/pl/2020-05-15

Thank you so much Anna and Marta!

[2020-05-17 01:14] #191 closed

[2020-05-17 01:19] cassiawag commented on #184
Published and tweeted: https://nextstrain.org/narratives/ncov/sit-rep/fr/2020-05-15

Thank you all for the hard work!

[2020-05-17 02:08] cassiawag commented on #192
Published and tweeted: https://nextstrain.org/narratives/ncov/sit-rep/pt/2020-05-15

Thank you! @miguelbio if you have a twitter handle , let me know, and I'll tag you.

[2020-05-17 02:09] #192 closed

[2020-05-17 06:11] frogtraveler commented on #193
Here is a tweet translation:
“Наш последний ситуационный отчет фокусируется на вирусных мутациях: почему они возникают, в каких случаях они важны, и как они помогают c отслеживанием вспышек. Отчет теперь доступен на русском языке.

Поскольку повторяющиеся мотивы заноса вируса и его распространения по всему миру очевидны, мы на время прекращаем еженедельные отчеты. Мы будем публиковать периодически

[2020-05-17 08:53] irina95511 commented on #193
Dear @cassiawag, that was an honor for me working with Nextstrain team! You do a great research and I have learnt a lot from the reports, thanks you for that! Please, let us know whenever our help is needed again! Take care.

[2020-05-17 09:03] al-epo commented on #180
Morning ! I am going head with the translation. :-)

[2020-05-17 11:21] roanvanscheppingen commented on #182
@nextstrain/dutch  someone able to proofread?

[2020-05-17 13:30] zeynephrc commented on #195
Hello,
I've finished the proofreading and @cassiawag it is ready for publication.
Twitter post:

“Son durum raporumuz, viral mutasyonlara  ve neden ortaya çıktıklarına, ne zaman önemli olduklarına ve salgınları izlemek için nasıl kullanılabileceğine odaklanıyor. Şimdi Türkçe haliyle de yayında!

Hızlı çevirileri için @zharcanoglu @benuraa ve @cagataytarhan'a çok teşekkür ediyoruz. Ayrıca @erenada

[2020-05-17 14:13] al-epo commented on #180
I left 2 paragraphs to be translated, @sarameiqi  if you want to do it. Otherwise  I can do it later and you can help with the proofreading if you want
Best,

[2020-05-17 15:19] sarameiqi commented on #180
Hi all,
sorry for my absence. I work (voluntarily) for Eurodoc, the European Council of Doctoral Candidates and Researchers, and I coordinate the "Diversity and Inclusion" working group. We were finalizing the article for the International Day against Homo, Bi, Transphobia.

I'm going to translate what's missing after 6.30 (need some rest). If you want to finish the translation, please feel free t

[2020-05-17 16:04] al-epo commented on #180
@sarameiqi  no problem! Have some  rest, I will finish the translation and then we can do the proofreading ( I need some help with few lines). I will write when I finish

[2020-05-17 16:27] cassiawag commented on #193
Published and tweeted: https://nextstrain.org/narratives/ncov/sit-rep/ru/2020-05-15

And yes Varvara, you got all of them, thank you! Educational reports are a good idea  -- I'll pass it on to the team.

[2020-05-17 16:27] #193 closed

[2020-05-17 16:31] cassiawag commented on #195
Published and tweeted: https://nextstrain.org/narratives/ncov/sit-rep/tr/2020-05-15

Thank you all, really been great to work with you on this. Zeynep, still mad props for getting Turkish translations started; keep up the leadership!

[2020-05-17 16:31] #195 closed

[2020-05-17 16:58] al-epo commented on #180
I finished; I will write in a while the " difficult " parts

[2020-05-17 17:12] miparedes commented on #194
Hey y'all- glad to start off our last weekly report! I can start translating the first half through "Variation in viruses' genetic code is useful for tracing outbreaks" if someone else can do the second half?

[2020-05-17 17:31] zeynephrc commented on #195
Thank you @cassiawag and all the Turkish translation team. It's been really really amazing to work with you. @benuraa @erenada and @Cagataytarhan it was a privilege for me to collaborate with you and contribute to Nextstrain in these times especially.
And Cassia, I'll definitely continue to work passionately in these fields. Thank you for giving me this chance!

[2020-05-17 17:45] Hirthe commented on #185
@astridgall @cassiawag I am done translating. Can someone please proofread? Thanks :)

[2020-05-17 18:20] al-epo commented on #180
Here the list:
Line 85 Hiatus: come si traduce in questo contesto? Per ora ho tradotto

# Rapporto sulla situazione iniziale

Line 93: broad-strokes patterns  ?

Line 101:
ho tradotto : ( non sono sicura su "scintilla virale"
- Una volta che una "scintilla virale" arriva in una nuova comunità, scompare senza causare una trasmissione diffusa. In base alle condizioni locali e un po' dovuto al caso,

[2020-05-17 18:26] astridgall commented on #185
I'll get onto it

[2020-05-17 19:57] astridgall commented on #185
@cassiawag This is ready for publication

Tweets:

Unser neuester Bericht legt den Schwerpunkt auf virale Mutationen: warum sie auftreten, wann sie wichtig sind und wie sie für das Verfolgen von Ausbrüchen nützlich sein können. Der Bericht is nun in Deutsch verfügbar.

Da sich wiederholende Muster von Einschleppung und Ausbreitung des Virus auf der ganzen Welt deutlich sind, werden wir für eine ge

[2020-05-17 21:11] aliceLedda commented on #180
Ok ero sparita, ora ci guardo!
Ma quello della settimana scorsa lo abbiamo consegnato?
Sono stata un po' incasinata...
Alice

On Sun, May 17, 2020, 19:20 al-epo <notifications@github.com> wrote:

[2020-05-17 21:50] aliceLedda commented on #180
Ciao care,
un paio di cambi

broad-strokes patterns = tratti comuni

"scintilla virale":lo possiamo chiamate virus-scintilla?

send off sparks of their own = hanno lanciato scintille a loro volta
(questa non l'ho cambiata)

spreading to new locations = diffondendosi in nuove posizioni -
diffondendosi in nuovi posti?

fitness si traduce con idoneita', e' una parola tecnica in questo caso

Buona ser

[2020-05-17 22:37] miparedes commented on #194
Just pushed the translation for the first half -- anyone willing to do the second half?

[2020-05-17 23:36] kumincir commented on #187
It's ready.

[2020-05-18 02:57] Cholokiwi commented on #194
Hi @miparedes and all,
Apologies for the late reply. I could do the second part.
Cheers,

Roy

[2020-05-18 05:19] #185 closed

[2020-05-18 05:51] cassiawag commented on #185
Published and tweeted: https://nextstrain.org/narratives/ncov/sit-rep/de/2020-05-15

Sorry for the delay on this. I took some time out in the sunshine this afternoon. Thinking it probably shouldn't matter too much because it's now morning in Europe.

Thanks so much to both of you!

[2020-05-18 05:53] cassiawag commented on #187
Published: https://nextstrain.org/narratives/ncov/sit-rep/id/2020-05-15!

Thanks so much for the accurate and rapid translation; would one of you be able to translate the Twitter post? I'm not sure how great Google translate is for Indonesian.

[2020-05-18 05:54] cassiawag commented on #196
Published [Bengali](https://nextstrain.org/narratives/ncov/sit-rep/bn/2020-05-15), [Czech](https://nextstrain.org/narratives/ncov/sit-rep/cs/2020-05-15), and [Swahili](https://nextstrain.org/narratives/ncov/sit-rep/sw/2020-05-15). Thanks for the translations!

[2020-05-18 08:56] sentausa commented on #187
@cassiawag here it is:

“Laporan keadaan terbaru dari kami fokus pada mutasi virus: mengapa mutasi terjadi, kapan mutasi itu berarti, dan bagaimana mutasi dapat berguna dalam melacak perebakan wabah. Laporannya kini tersedia dalam bahasa Indonesia.

Karena pola berulang introduksi dan penyebaran virus ini di seluruh dunia sudah menjadi jelas, kami akan menghentikan laporan situasi mingguan untuk s

[2020-05-18 12:37] cassiawag commented on #187
Tweeted -- thanks!

[2020-05-18 12:37] #187 closed

[2020-05-18 12:41] cassiawag commented on #189
@KyobinKang, @taehoonh, @minkyuxyz, @hanbin973, are any of you available to work on this translation? It's the last one for a little while, and because it covers mutations and a lot of misconceptions about the virus, I think could be quite useful!

[2020-05-18 12:43] cassiawag commented on #182
@JSHuisman or @rvosa, are either of you available to review? Last sit-rep for a while!

[2020-05-18 12:44] cassiawag commented on #145
@aliceLedda, any chance you'll be able to review this one? Since previous situation reports are now more accessible, I think it'd be useful to have it translated/

[2020-05-18 12:50] Cholokiwi commented on #194
Hi @miparedes
Translation for second part and proofreading of first part is done. If you could proofread my translation, we'll be done :)
Cheers,

Roy

[2020-05-18 12:51] taehoonh commented on #189
Hi @cassiawag , I am working on it!

[2020-05-18 15:46] lxy0107 commented on #190
Hi @fzhang12 , I'm continuing your translation if it's ok!

[2020-05-18 17:13] lxy0107 commented on #190
taking a break now

[2020-05-18 17:14] miparedes commented on #194
Thanks so much @Cholokiwi ! Just pushed minor edits and it should be good for publication @cassiawag . Again thanks so much for all the work these last couple of weeks -- it's been a privilege to work with you all.

[2020-05-18 19:06] lxy0107 commented on #190
back to work!

[2020-05-18 19:25] lxy0107 commented on #190
Hi @cassiawag , can you check text 7 "In many geographic areas, the relative frequency of 614D compared to 614G increased over time."

Shouldn't it be 'the relative freq. of *614G* to *614D* increased over time'?
This can be a major issue since it flipped the meaning.

[2020-05-18 20:31] aliceLedda commented on #145
Sorry I just missed these emails...
I check in half an hour!
Alice

On Mon, May 18, 2020, 13:44 cassiawag <notifications@github.com> wrote:

[2020-05-18 21:07] cassiawag commented on #190
Hi @lxy0107, yes you 100% correct. Ack, I don't know how we missed this! It does majorly change the text. It should be "the relative frequency of 614G compared to 614D increased over time." I'll update English and get other translations updated as well.

[2020-05-18 21:24] cassiawag commented on #194
Published: https://nextstrain.org/narratives/ncov/sit-rep/es/2020-05-15! Thanks all.

Would one of you mind translating the twitter post?

[2020-05-18 21:43] Cholokiwi commented on #194
Thanks @cassiawag!

Please find twitter post below.

"Nuestro último reporte situacional del COVID19 se enfoca en mutaciones virales: ¿Porque ocurren las mutaciones?, ¿Cuándo son importantes?, y ¿Cómo pueden ser útiles para rastrear los brotes? El reporte está ahora disponible en español."

[2020-05-18 21:58] cassiawag commented on #194
Thanks Roy! It's tweeted now.

[2020-05-18 21:58] #194 closed

[2020-05-18 22:23] aliceLedda commented on #145
Ok checked!
It's fine with me, you can publish!
And sorry again for the delay!
Alice

On Mon, May 18, 2020 at 9:30 PM alice ledda <alice.ledda@gmail.com> wrote:

[2020-05-18 22:29] lxy0107 commented on #190
Hi all, it's ready for proodreading. @fzhang12 I proofread your part and if you proofread mine it should be all good!

[2020-05-18 22:29] taehoonh commented on #189
@cassiawag
Under  [External Resources],
The title of the NY Times article is "How coronavirus **mutates** and spreads" but in the report it is **mutations** instead of **mutates**. Guess correcting an English version only will be fine.

[2020-05-18 22:33] #196 closed

[2020-05-18 22:35] cassiawag commented on #145
Thanks Alice! I'll get it published.

[2020-05-18 23:11] cassiawag commented on #145
Published: https://nextstrain.org/narratives/ncov/sit-rep/it/2020-05-08!

[2020-05-18 23:11] #145 closed

[2020-05-19 00:57] KyobinKang commented on #189
@taehoonh @cassiawag I'll cover the proofreading.

[2020-05-19 01:09] cassiawag commented on #183
Published and tweeted: https://nextstrain.org/narratives/ncov/sit-rep/fa/2020-05-15

Thank you!

[2020-05-19 01:09] #183 closed

[2020-05-19 08:18] al-epo commented on #180
Ciao! Grazie @aliceLedda!
@sarameiqi  tu hai tempo per fare un ultima proofreading?

[2020-05-19 09:31] sarameiqi commented on #180
Ciao, sì, ci lavoro tra pochissimo!
In realtà mi sono presa un po' di tempo per smazzare altre cose intanto che arrivava anche Alice, visto che avevamo anche quello della settimana scorsa indietro ho pensato che non avevamo frettissima.
Visto che Alice ha già rivisto, io mi occupo solo della resa italiana e poi possiamo uscire!
A presto

[2020-05-19 09:56] sarameiqi commented on #180
I'm done, this is a very very interesting report!
We can publish it when you want!

[2020-05-19 10:03] al-epo commented on #180
@aliceLedda  and @sarameiqi has been a pleasure doing this with you!
@cassiawag  Thanks a lot for you work
It is great being part of this!
My best wishes,
Alessia

[2020-05-19 10:21] sarameiqi commented on #180
I spotted another typo and I made a new commit.
Really a pleasure to join this team for this amazing work.
@cassiawag let me know if I can help with something, waiting for future occasional reports to translate!

Ragazze, se ricapitate in Italia fatemi sapere. Giro molto (non in questo periodo, evidentemente) ma magari capita di prenderci un caffè di persona.
@aliceLedda hai origini sarde?

[2020-05-19 10:25] al-epo commented on #180
@sarameiqi e @aliceLedda sarebbe bello! Io quanto torno (ovviamente non so quando sarà fattibile al momento) sono a Roma :-)

[2020-05-19 10:26] sarameiqi commented on #180
TRANSLATED TWEET
“Il nostro ultimo rapporto sulla situazione si focalizza sulle mutazioni virali: perché accadono, quando sono importanti, e come sono utili per tracciare le epidemie. Il report è adesso disponibile in italiano.

Dato che i pattern ripetuti dell'introduzione diffusione virale nel mondo sono ormai chiari, per un po' non posteremo più i nostri report settimanali. Pubblicheremo rappor

[2020-05-19 15:48] fzhang12 commented on #190
Twitter post to translate:
“这周最新的状况报告，我们将重点关注病毒基因组的突变：为什么会发生突变？为什么这些突变很重要？以及这些突变如何帮助科学家用来追踪疫情发展。
报告的中文版现已发布。

因为全世界范围内的疫情扩散是高度相似的传播模式，所以我们会暂时停止对每周报告的更新，但我们依旧会根据数据的更新程度而不定期撰写新的状况报告。

感谢 @3Xueying 和 @fengjun_zhang 对这周报告的及时高效翻译。
也感谢 Derek Zhang 和 @fu_zit 参与之前报告的翻译工作。"

[2020-05-19 16:28] cassiawag commented on #180
Thanks Alice, Sara, and Alessia. It's published and tweeted: https://nextstrain.org/narratives/ncov/sit-rep/it/2020-05-15

[2020-05-19 16:28] #180 closed

[2020-05-19 16:31] cassiawag commented on #190
Published and tweeted: https://nextstrain.org/narratives/ncov/sit-rep/zh/2020-05-15

Thank you!

[2020-05-19 16:31] #190 closed

[2020-05-19 22:29] aliceLedda commented on #180
Si, ovviamente! Sassari!
E tu?
(pero' a volte compaio anche in quel di Bologna per visitare i suoceri!)
Io sono in Uk, Oxford. Stuck in here for the moment...
Stiamo cercando una strategia per rientrare in Sardegna appena riaprono le
frontiere...
Ma non ci sono piu' traduzioni?
E' stato un piacere lavorare con voi!
In bocca al lupo
Alice

On Tue, May 19, 2020 at 11:21 AM Sara Pilia <notifications@

[2020-05-20 02:39] taehoonh commented on #189
Hi @KyobinKang and @nextstrain/korean ,

Just completed the translation. It took longer time than usual, as the last report includes many biology terms. Although I tried my best, it will be pretty rough. In particular, I couldn't come up with an appropriate word regarding "**redundant encoding**". For those who have good translation for "redundant encoding", please let me know. I would appreciate

[2020-05-20 09:06] KyobinKang commented on #189
@taehoonh @cassiawag I've completed the proofreading. I agree, it required quite a bunch of biological knowledge. Thanks to my pharmacy background, I could revise a lot, but still I wish a confirmation from anyone with more concrete background.

FYI,  I guess "redundant encoding" is a non-expert term for "synonymous substitution" (based on the link); so I translated it to "동의치환", which is the most

[2020-05-20 16:23] JiscaH commented on #182
I've gone over @roanvanscheppingen 's translation with a fine-tooth comb, and fixed a bunch of typo's + some awkward sentence structures. Throughout I've changed viral 'streng' to 'stam' - I got way more relevant google hits for the latter translation.

It would be great if @JSHuisman or @rvosa could give it a final read through, but if not I think it's OK to go live. Up to @cassiawag to make the

[2020-05-20 23:10] cassiawag commented on #189
@nextstrain/korean -- is anyone else available to take a loook?

[2020-05-20 23:11] cassiawag commented on #189
Since this report isn't time sensitive, I think that it's better to prioritize accuracy over time to publishing.

[2020-05-20 23:15] cassiawag commented on #182
Thanks, @JiscaH! I'll try reaching out to them using a different method and if not will publish.

[2020-05-22 14:45] cassiawag commented on #189
Decided to go ahead and publish: https://nextstrain.org/narratives/ncov/sit-rep/ko/2020-05-15

Thank you both for the hard work :)

[2020-05-22 14:45] #189 closed

[2020-05-22 14:48] cassiawag commented on #182
Haven't heard anything, so I decided to go ahead and publish: https://nextstrain.org/narratives/ncov/sit-rep/nl/2020-05-15

Thanks for the hard work!

[2020-05-22 14:48] #182 closed

[2020-08-14 16:51] cassiawag opened #213 "Translate August 14 sit-rep into Arabic"
Greetings @nextstrain/arabic,

It’s really great to work with you again after a long situation report hiatus.

Our August update on genomic epidemiology of COVID-19 is ready to be translated to Arabic. This is just a one-off situation report, and we are not planning to resume weekly situation reports at this time. Translation of this report is less time sensitive than previous ones, so feel free t

[2020-08-14 16:52] cassiawag opened #214 "Translate August 14 sit-rep to Dutch"
Greetings @nextstrain/dutch,

It’s really great to work with you again after a long situation report hiatus.

Our August update on genomic epidemiology of COVID-19 is ready to be translated to Dutch. This is just a one-off situation report, and we are not planning to resume weekly situation reports at this time. Translation of this report is less time sensitive than previous ones, so feel free to

[2020-08-14 16:53] cassiawag opened #215 "Translate August 14 sit-rep into Farsi"
Greetings @nextstrain/farsi,

It’s really great to work with you again after a long situation report hiatus.

Our August update on genomic epidemiology of COVID-19 is ready to be translated to Farsi. This is just a one-off situation report, and we are not planning to resume weekly situation reports at this time. Translation of this report is less time sensitive than previous ones, so feel free to

[2020-08-14 16:55] cassiawag opened #216 "Translate August 14 sit-rep into French"
Greetings @nextstrain/french,

It’s really great to work with you again after a long situation report hiatus.

Our August update on genomic epidemiology of COVID-19 is ready to be translated to French. This is just a one-off situation report, and we are not planning to resume weekly situation reports at this time. Translation of this report is less time sensitive than previous ones, so feel free t

[2020-08-14 16:56] cassiawag opened #217 "Translate August 14 sit-rep into German"
Greetings @nextstrain/german,

It’s really great to work with you again after a long situation report hiatus.

Our August update on genomic epidemiology of COVID-19 is ready to be translated to German. This is just a one-off situation report, and we are not planning to resume weekly situation reports at this time. Translation of this report is less time sensitive than previous ones, so feel free t

[2020-08-14 16:58] cassiawag opened #218 "Translate August 14 sit-rep into Greek"
Greetings @nextstrain/greek,

It’s really great to work with you again after a long situation report hiatus.

Our August update on genomic epidemiology of COVID-19 is ready to be translated to Greek. This is just a one-off situation report, and we are not planning to resume weekly situation reports at this time. Translation of this report is less time sensitive than previous ones, so feel free to

[2020-08-14 16:59] cassiawag opened #219 "Translate August 14 sit-rep into Indonesian"
Greetings @nextstrain/indonesian,

It’s really great to work with you again after a long situation report hiatus.

Our August update on genomic epidemiology of COVID-19 is ready to be translated to Indonesian. This is just a one-off situation report, and we are not planning to resume weekly situation reports at this time. Translation of this report is less time sensitive than previous ones, so fee

[2020-08-14 17:00] cassiawag opened #220 "Translate August 14 sit-rep into Italian"
Greetings @nextstrain/italian,

It’s really great to work with you again after a long situation report hiatus.

Our August update on genomic epidemiology of COVID-19 is ready to be translated to Italian. This is just a one-off situation report, and we are not planning to resume weekly situation reports at this time. Translation of this report is less time sensitive than previous ones, so feel free

[2020-08-14 17:00] cassiawag opened #221 "Translate August 14 sit-rep into Japanese"
Greetings @nextstrain/japanese,

It’s really great to work with you again after a long situation report hiatus.

Our August update on genomic epidemiology of COVID-19 is ready to be translated to Japanese. This is just a one-off situation report, and we are not planning to resume weekly situation reports at this time. Translation of this report is less time sensitive than previous ones, so feel fr

[2020-08-14 17:00] Maijin commented on #216
Hackmd - https://hackmd.io/JUzwWN84T02eq3zTsrO9YQ
IRC - https://webchat.freenode.net/#nextstrain-fr-translation
JITSI - https://meet.jit.si/nextstrainFR

[2020-08-14 17:01] cassiawag opened #222 "Translate August 14 sit-rep into Korean"
Greetings @nextstrain/korean,

It’s really great to work with you again after a long situation report hiatus.

Our August update on genomic epidemiology of COVID-19 is ready to be translated to Korean. This is just a one-off situation report, and we are not planning to resume weekly situation reports at this time. Translation of this report is less time sensitive than previous ones, so feel free t

[2020-08-14 17:02] cassiawag opened #223 "Translate August 15 sit-rep into Mandarin Chinese"
Greetings @nextstrain/mandarin,

It’s really great to work with you again after a long situation report hiatus.

Our August update on genomic epidemiology of COVID-19 is ready to be translated to Mandarin. This is just a one-off situation report, and we are not planning to resume weekly situation reports at this time. Translation of this report is less time sensitive than previous ones, so feel fr

[2020-08-14 17:03] cassiawag opened #224 "Translate August 14 sit-rep into Polish"
Greetings @nextstrain/polish,

It’s really great to work with you again after a long situation report hiatus.

Our August update on genomic epidemiology of COVID-19 is ready to be translated to Polish. This is just a one-off situation report, and we are not planning to resume weekly situation reports at this time. Translation of this report is less time sensitive than previous ones, so feel free t

[2020-08-14 17:03] cassiawag opened #225 "Translate August 14 sit-rep into Portuguese"
Greetings @nextstrain/portuguese,

It’s really great to work with you again after a long situation report hiatus.

Our August update on genomic epidemiology of COVID-19 is ready to be translated to Portuguese. This is just a one-off situation report, and we are not planning to resume weekly situation reports at this time. Translation of this report is less time sensitive than previous ones, so fee

[2020-08-14 17:04] cassiawag opened #226 "Translate August 14 sit-rep into Russian"
Greetings @nextstrain/russian,

It’s really great to work with you again after a long situation report hiatus.

Our August update on genomic epidemiology of COVID-19 is ready to be translated to Russian. This is just a one-off situation report, and we are not planning to resume weekly situation reports at this time. Translation of this report is less time sensitive than previous ones, so feel free

[2020-08-14 17:04] cassiawag opened #227 "Translate August 14 sit-rep into Spanish"

[2020-08-14 17:06] cassiawag opened #228 "Translate August 14 sit-rep into Turkish"
Greetings @nextstrain/turkish,

It’s really great to work with you again after a long situation report hiatus.

Our August update on genomic epidemiology of COVID-19 is ready to be translated to Turkish. This is just a one-off situation report, and we are not planning to resume weekly situation reports at this time. Translation of this report is less time sensitive than previous ones, so feel free

[2020-08-14 17:11] cassiawag opened #229 "Translate August 14 sit-rep into Bengali, Czech, Filipino, Hindi, Swahili, Urdu, & Vietnamese"
Hi @VengaLing,

The May August 14 situation report is ready to be translated. Thank you so much for being able to do this on such short notice! See below for branches and file names. Feel free to just grab the file from one branch and rename it; they are all the same.

When the translations are completed, please merge them back into the appropriate branch. This will allow me to preview it to confi

[2020-08-14 17:58] zeynephrc commented on #228
hello everyone!

it's amazing to work with you again. i'm a little busy this saturday but i'm going to start translating some of it today and on  sunday, i can do a bit more.

how are you guys doing?

[2020-08-14 18:51] amadotalita commented on #225
Ok Cassia, I got this one ;)

[2020-08-14 18:53] cassiawag commented on #216
We accidentally lopped off a sentence on slide 18 about Central American sequencing. I just added it to the file, but letting you know, so you can add it to the Hackmd version :)

Added text is in bold.

[2020-08-14 18:58] frogtraveler commented on #226
Hi Cassia! Nice to see an update! I'll start translating.

[2020-08-14 19:14] akifoss commented on #218
@codergr here is the hackmd link: https://hackmd.io/Gu0K-9yLSJu3Zv0PsWKeZQ?edit

I am through until Oceania, where Europe starts. Again following the line-to-line original text maintenance scheme :)
Will continue tomorrow morning!

[2020-08-14 20:18] ghost commented on #218
Nice ! reviewed  and finished rest. Ready for hackmd review @akifoss

[2020-08-14 20:42] erenada commented on #228
Hi all! Hope everyone is well and staying safe! Unfortunately, I will not be able to participate this time as I will be away for a period of time. Thank you for your effort guys!

[2020-08-14 22:50] akifoss commented on #218
@codergr Thanks for translating!
@cassiawag File ready for publication!

Tweet translation:

Διαβάστε την αναφορά του Αυγούστου σχετικά με τη γονιδιωματική επιδημιολογία της νόσου COVID-19 στα ελληνικά. Εξερευνούμε την παγκόσμια διασπορά του ιού και παρέχουμε ενημερώσεις σχετικά με κάθε περιοχή του κόσμου.
Ευχαριστούμε @akifoss και @codergr για τη γρήγορη μετάφραση!

[2020-08-14 22:56] tomoyuki-nezu commented on #221
Long time no see Cassia, and How is everyone?
Japan isn't the worst, but I think the Japanese government can do a little more...

I read the report interestingly. I have some time on the weekend, but I don't know how much I can translate during the weekend because this report was bit large text. If anyone can translate, please translate from the European section.

[2020-08-14 22:58] cassiawag commented on #218
wowowowowowow, that was fast. I'll get this online.

[2020-08-14 23:11] cassiawag commented on #218
Published and tweeted: https://nextstrain.org/narratives/ncov/sit-rep/el/2020-08-14

Thanks ya'll. Have a good weekend!

[2020-08-14 23:11] #218 closed

[2020-08-14 23:12] cassiawag commented on #221
No worries @tomoyuki-nezu. I know it's long! I'm doing well. How are you?

[2020-08-15 23:54] frogtraveler commented on #226
@cassiawag Do you know if in the summary, in the sentence: "As the pandemic reaches its eighth month of global circulation, we can now see distinct changes over time in the picture painted by viral genetics, largely determined by changing behaviour." Under "behaviour" we are talking about human behavior?

Also, is word "restrictions" missing from this sentence: "In the USA, the absence of strict d

[2020-08-16 16:25] kumincir commented on #219
Twitter post
Kunjungi laporan Agustus kami mengenai epidemiologi genomik COVID-19 dalam bahasa Indonesia. Di dalamnya, kami menjelajahi penyebaran global si virus secara luas dan menyediakan pemutakhiran spesifik untuk setiap wilayah dunia.
Terima kasih @sentausa dan @wikidisastra atas terjemahan cepatnya!

@sentausa mohon koreksinya

[2020-08-16 16:59] Hirthe commented on #217
Hi Cassia, I am done with the translation. Is there anyone who could potentially proof read it?

[2020-08-17 01:08] amadotalita commented on #225
Hello people! The translation is ready for review. Here is the twitter post:

Confira nosso relatório de agosto sobre epidemiologia genômica do COVID-19 em português. Nele, exploramos a propagação global do vírus de forma ampla e fornecemos atualizações específicas para cada região do mundo.
Obrigado a  @amadotalita , @, and @ pela rápida tradução!

[2020-08-17 02:40] andersonbrito commented on #225
Thank you, Talita.
I'll read and review it now.

Cheers,

*Anderson Brito*

On Sun, 16 Aug 2020 at 21:08, Talita Amado <notifications@github.com> wrote:

[2020-08-17 05:37] andersonbrito commented on #225
Hi,

I reviewed up to the 'South America' section, but the remaining pages are
still in English.
I've extended the translation further, to finish the South America section,
but stopped to check if maybe Talita has that part already translated (but
not uploaded yet).

Talita, do you happen to have the rest of the text in your computer?
If not, let me know if you want help finishing that part: I can

[2020-08-17 08:06] frogtraveler commented on #226
Here is the twitter post translation:
А вот и наш августовский отчет о геномной эпидемиологии COVID-19 на русском языке. В нем мы исследуем в общих чертах глобальное распространение вируса и предоставляем специальные обновления для каждого региона.
Спасибо @varvarakozyreva и @MEKlab за быстрый перевод!

[2020-08-17 14:57] amadotalita commented on #225
Ok, I just send the rest of the translation. Sorry about that!

Cheers,

T.

[2020-08-17 15:22] irina95511 commented on #226
Hi @cassiawag , we have finished and proofread the translation! Thanks for the report, it is good hearing news from you and it was a pleasure to help. Please, take care too.

[2020-08-17 15:31] Simon-LoriereLab commented on #216
Apologies, I missed the notification. I finished the translation on Hackmd. @Maijin could you transfer that back to Github for a last proofread? Thanks a lot!!

[2020-08-17 16:10] cassiawag commented on #217
Thanks Elizabeth! I'll ask Richard or Nicola if they're available :)

[2020-08-17 16:17] cassiawag commented on #226
@frogtraveler -- restrictions is definitely missing from that sentence. I'll take a look at the English version and check if it's correct. And behavior is referring to human behavior. Sorry for the delay in getting back to you! I was camping all weekend and didn't have access to internet.

Thank you both for the translation. I'll get it published.

[2020-08-17 16:38] cassiawag commented on #226
Tweeted and published: https://nextstrain.org/narratives/ncov/sit-rep/ru/2020-08-14

Good to hear from you both again!

[2020-08-17 16:38] #226 closed

[2020-08-17 17:44] cassiawag commented on #228
@zeynephrc , I'm doing well Thanks for asking! Just spent the weekend canoeing and camping, which is my happy place. How are you?

I just emailed @benuraa & @Cagataytarhan, hoping they'll be available to help with the translation!

[2020-08-17 18:33] benuraa commented on #228
hey, it is lovely to hear from all of you! I am really bogged down with work for the last 2 weeks, but I am happy to proofread. cheers, b

[2020-08-17 20:03] andersonbrito commented on #225
Done! Thank you, Talita.

Cassia, it is now ready for posting.

Best,

*Anderson Brito*

On Mon, 17 Aug 2020 at 10:57, Talita Amado <notifications@github.com> wrote:

[2020-08-17 20:24] aniafijarczyk commented on #224
proofreading done, thanks again @M-nied7 for translating all text!

twitter post:
Sprawdź nasz sierpniowy raport dotyczący epidemiologii genomowej COVID-19 w języku polskim. Badamy w nim globalne rozprzestrzenianie się wirusa i opisujemy aktualizacje dla każdego regionu świata.
Dziękuję @pandkaruda i @afijarczyk za szybkie tłumaczenie!

[2020-08-17 20:42] frogtraveler commented on #226
@cassiawag Happy to help!
Camping is the best time spending right now. I went to Yellowstone just recently myself :) Stay safe!
Looking forward to any future updates from Nextstrain, whenever those might be!

[2020-08-17 21:00] cassiawag commented on #217
Thank you for your translation, Elisabeth! @nicfel & @rneher both made some edits and it's now published and tweeted.

https://nextstrain.org/narratives/ncov/sit-rep/de/2020-08-14

[2020-08-17 21:00] #217 closed

[2020-08-17 21:28] cassiawag commented on #224
Published and tweeted: https://nextstrain.org/narratives/ncov/sit-rep/pl/2020-08-14

Thanks so much Marta and Anna!

[2020-08-17 21:28] #224 closed

[2020-08-17 21:28] cassiawag commented on #225
Published and tweeted: https://nextstrain.org/narratives/ncov/sit-rep/pt/2020-08-14

Thanks for the hard work Talita and Anderson!

[2020-08-17 21:28] #225 closed

[2020-08-17 21:29] cassiawag commented on #226
I love Yellowstone. In college, I studied archaeal viruses from the hot springs there; glad you were able to make a trip out! I'll let you know about updates.

[2020-08-18 20:14] Maijin commented on #216
Ready for proof-read, there is still a title that needs translation https://github.com/nextstrain/translations/pull/232 "Clustering in Africa" maybe more

[2020-08-19 10:09] meriemelkaroui commented on #216
Bonjour,
Désolée du mon manque de réactivité, le retour des vacances est un peu chargé.
j’ai fait une relecture complète sur hackmd et j’ai fait quelques modifications.
Maxime est ce que tu pourrais pousser à nouveau de Hackmd sur Github? pour moi c’est maintenant bon à publier.
J’espère que tout va bien pour vous!
Meriem

On 14 Aug 2020, at 18:01, Maijin <notifications@github.com<mailto:notificat

[2020-08-19 11:11] Simon-LoriereLab commented on #216
Hi Meriem, apologies I was doing the same in parallel, but on the github version, which I pushed. Looks good to me know, but if you want to check!
All the best,
Etienne

[2020-08-19 12:07] meriemelkaroui commented on #216
No Pb, let’s stick to you version then ;-)!

Meriem

Le 19 août 2020 à 13:12, Simon-Loriere_Lab <notifications@github.com> a écrit :

﻿

Hi Meriem, apologies I was doing the same in parallel, but on the github version, which I pushed. Looks good to me know, but if you want to check!
All the best,
Etienne

—
You are receiving this because you are on a team that was mentioned.
Reply to this email di

[2020-08-19 16:26] cassiawag commented on #216
Thanks so much all! It looks great.

In the abstract though, one paragraph got replaced by copyright marks. I'm guessing this happened in the copy and paste back and forth. Can someone translate and add the paragraph below back in?

"We use subsampling approaches to remove potential sampling biases in order to ensure that regions and time-periods are appropriately included for analysis. (This also

[2020-08-19 17:02] cassiawag commented on #229
Swahili, Czech, and Hindi translations are out!

[2020-08-19 19:14] meriemelkaroui commented on #216
Hi all,
here is the paragraph translated.
Nous utilisons des approches de sous-échantillonnage pour éliminer les biais d'échantillonnage potentiels afin de garantir que les régions et les périodes sont correctement incluses dans l'analyse. (Cela permet également de répondre aux besoins de calcul).
Cheers
meriem

On 19 Aug 2020, at 17:26, cassiawag <notifications@github.com<mailto:notifications@git

[2020-08-19 19:59] #216 closed

[2020-08-19 20:03] cassiawag commented on #216
Merci beaucoup, Meriem!

It's now live: https://nextstrain.org/narratives/ncov/sit-rep/fr/2020-08-14

Getting it tweeted out asap

[2020-08-19 20:22] VengaLing commented on #229
All language uploaded

<https://www.vengaglobal.com/>

Chris Phillips
Chief Operations Officer

Your Go Global Partner
www.vengaglobal.com

<https://www.linkedin.com/company/venga-localization/>
<https://www.facebook.com/VengaGlobal/>  <https://twitter.com/VengaGlobal>
MOBILE:  +44 (0) 7740024215
Suite 408, 154 - 160 Fleet Street
London EC4A 2DQ, UK
E-MAIL:  chris.phillips@vengaglobal.com

On Wed,

[2020-08-19 20:34] cassiawag commented on #229
Awesome thanks! I'll get these uploaded.

[2020-08-19 23:14] cassiawag commented on #229
All are published; thanks again, Chris!

[2020-08-19 23:14] #229 closed

[2020-08-20 14:40] cassiawag commented on #228
Hello all! @zeynephrc, have you been able to work on the translation at all? Or do you think it's unlikely that you'll have the bandwidth to do so? Obviously, we'd love to have a Turkish translation, but if it's not possible, I'll just close this issue.

[2020-08-20 14:44] cassiawag commented on #223
Hello @fillorkill, @alvinxhan, @lxy0107, @fzhang12, just wanted to check-in and see how things are going with the translation? If you are able to work on it, I'd love to get something published soon! Chinese continues to be one of our most popular languages, and the Chinese sit-rep from May still gets read quite regularly.

Of course, if you're not available, I do understand, and I can close this

[2020-08-20 14:45] cassiawag commented on #222
@hanbin973, @KyobinKang, @minkyuxyz, @taehoonh -- hello! Is there any interest and translating and publishing the August sit-rep into Korean? If so, I'd love to get out something soon.

[2020-08-20 14:48] cassiawag commented on #221
@satotake, @tomoyuki-nezu, @fzhang12 -- hello all! I just wanted to check in on how the Japanese translation is coming along.  Japanese does continue to be one of Nextstrain's top languages and the Japanese sit-reps from May and earlier are still read quite regularly. I'd love to give those readers an update!

Of course, if you're not available, that's very understandable. Just let me know, and I'

[2020-08-20 14:53] cassiawag commented on #213
Per discussion with @SalehA74 & @falnaji, I'm closing this issue as we don't have translators available

[2020-08-20 14:53] #213 closed

[2020-08-20 14:54] lxy0107 commented on #223
Hi all, I can try to finish the translation tonight if someone is up for proofreading it!

[2020-08-20 14:54] cassiawag commented on #220
Hello all-star Italian team! I keep seeing the notifications on your chat :) Just checking in on how the translation is going? Ideally, I'd like to publish it soon.

@nextstrain/italian

[2020-08-20 14:55] cassiawag commented on #219
Hello @kumincir & @sentausa, just wanted to check in on how the translation is coming? Ideally, we'd like to publish something soon. Thank you so much for your hardwork on it!

[2020-08-20 14:57] fzhang12 commented on #223
Thanks @lxy0107 then I will work on the proofread tomorrow.

[2020-08-20 14:59] cassiawag commented on #214
Hello @rvosa, @JiscaH, @JSHuisman, @roanvanscheppingen! Just wanted to check-in and see if you'll be translating the August sit-rep into Dutch. Obviously, we'd love to have a translation, but do understand if you're not available. If it won't happen, I'll go ahead and close the issue.

[2020-08-20 14:59] cassiawag commented on #223
Woohoo! Thanks so much!

[2020-08-20 15:00] aliceLedda commented on #220
Hello Cassia,
unfortunately we are going slowly. Partly due to (lack of) access to
internet connection and being busy, partly last weekend was a kind of
Christmas in summer in Italy, so it was difficult to be working through it.
How much time do you give us? Maybe we could be done in the weekend.
Best wishes,
Alice

On Thu, Aug 20, 2020 at 3:54 PM cassiawag <notifications@github.com> wrote:

[2020-08-20 15:06] fzhang12 commented on #221
Thanks for the reminder @cassiawag . I am willing to help the Japanese translation. But I am afraid it wont be easy for me to translate major parts since it is not my native language actually. We will see if I can help much during the weekend.

[2020-08-20 15:17] cassiawag commented on #220
Hi Alice,
I do understand! Celebrations are important, and I won't be around this weekend either. Aiming to be done by next Monday would be ideal.
Regards,
Cassia

[2020-08-20 15:33] aliceLedda commented on #220
Ok then! Let's have it done by Monday!
Enjoy your celebrations!
Alice

On Thu, Aug 20, 2020, 17:17 cassiawag <notifications@github.com> wrote:

[2020-08-20 16:08] roanvanscheppingen commented on #214
Hi,

I am available on Monday or Tuesday. It is on my to-do list!

Op do 20 aug. 2020 16:59 schreef cassiawag <notifications@github.com>:

[2020-08-21 00:29] tomoyuki-nezu commented on #221
@cassiawag I didn't get the time this week. I reserve time on weekends. Please wait a little bit...

[2020-08-21 01:38] ghost commented on #227
Proofreading done @cassiawag! Here's the tweet translated as well:

Chequéa nuestro reporte de Agosto sobre la epidemiología genómica del COVID-19 en Español. En él, exploramos la expansión global del Virus extensamente y proveemos actualizaciones específicas de cada región del mundo.
¡Gracias a @CmRoycostilla, @ClaudioSFuente1 y @miguelp1120 por la rápida traducción!

[2020-08-21 04:05] kumincir commented on #219
Waiting for 2nd person's proofread/review @sentausa

[2020-08-21 07:09] fzhang12 commented on #223
@lxy0107 morning, have you finished the first draft yet? Should I move onto proofreading?

[2020-08-21 07:12] fzhang12 commented on #221
I started from Europe part as @tomoyuki-nezu suggested yesterday. I will continue work on it today.

[2020-08-21 07:25] lxy0107 commented on #223
Not yet 😂 I will finish it today if that’s ok...

Sent from my iPhone

[2020-08-21 07:26] fzhang12 commented on #223
No worries. I'm just asking. Take your time:)

[2020-08-21 13:33] satotake commented on #221
Hi folks, I will in this weekend...but may be late

@fzhang12 has almost done from Europe section to the end.
And @tomoyuki-nezu will translate from start to Europe section in this weekend.

If anything for me is left, I will do in this weekend (maybe review?)

[2020-08-21 15:22] fzhang12 commented on #221
Just finished the second part of the translation (from Europe to scientific credit)
I will now hand over the rest to you two :)
And nice weekend~~

[2020-08-21 16:07] cassiawag commented on #227
Published and tweeted: https://nextstrain.org/narratives/ncov/sit-rep/es/2020-08-14

Thank you so much for the translation!

[2020-08-21 18:22] cassiawag commented on #215
Closing issue per conversation with @mg878

[2020-08-21 23:31] lxy0107 commented on #223
It's ready for proofreading:)

[2020-08-22 02:55] sentausa commented on #219
It's reviewed @cassiawag. Thanks @kumincir for doing the translation.

Twitter post
Lihatlah laporan edisi Agustus dari kami mengenai epidemiologi genomik COVID-19 dalam bahasa Indonesia. Di dalamnya, kami mengeksplorasi penyebaran global virus ini secara umum dan menyediakan pemutakhiran spesifik untuk setiap wilayah dunia.
Terima kasih @sentausa dan @wikidisastra atas terjemahan cepatnya!

[2020-08-22 09:25] zeynephrc commented on #228
Hey @cassiawag !
Unfortunately, I couldn't work on the translation this week because of my school work but I'll be working on in the next two days!
So sorry for the delay.

[2020-08-24 01:55] tomoyuki-nezu commented on #221
Translated the first half. The original text is now fully translated.
I may adjust the overall tone after this, but it's okay for you to review it > @fzhang12

I apologize for the delay in work.
During the past week, I couldn't get the time due to summer vacation and other work.
I am living my daily life while devising various new-things :)

[2020-08-24 02:12] tomoyuki-nezu commented on #221
Translated the first half. The original text is now fully translated.
I may adjust the overall tone after this, but it's okay for you to review it > @fzhang12 @satotake

I apologize for the delay in work.
During the past week, I couldn't get the time due to summer vacation and other work.
I am living my daily life while devising various new-things :)

[2020-08-24 14:10] cassiawag commented on #223
Thanks @lxy0107! @fzhang12, any chance you'll be able to take a look!

[2020-08-24 14:11] cassiawag commented on #228
No worries! School is important :)

[2020-08-24 14:29] cassiawag commented on #219
Published and tweeted: https://nextstrain.org/narratives/ncov/sit-rep/id/2020-08-14

Thank you so much both -- sorrry for the delay on publication.

[2020-08-24 14:29] #219 closed

[2020-08-25 07:57] aliceLedda commented on #220
Dear Cassia,
I think it's done... Alessia and Sara do you confirm?
Thanks for your patience!
Alice

On Thu, Aug 20, 2020 at 4:33 PM alice ledda <alice.ledda@gmail.com> wrote:

[2020-08-25 10:14] al-epo commented on #220
yes, I confirm ! :-)

[2020-08-25 16:23] cassiawag commented on #220
Woohoo!! I'm going to go ahead and publish

[2020-08-25 16:33] satotake commented on #221
I have just reviewed. Thank you for your hard work. @tomoyuki-nezu @fzhang12
Please check my changes.

[2020-08-25 16:47] cassiawag commented on #220
It's published: https://nextstrain.org/narratives/ncov/sit-rep/it/2020-08-14

@aliceLedda @sarameiqi @al-epo -- would anyone like to translate the Twitter post?

[2020-08-25 21:21] aliceLedda commented on #220
*Twitter post*
Check out our August report on COVID-19 genomic epidemiology in Italian. In
it, we explore the global spread of the virus broadly and provide specific
updates for each world region.
Thank you to @, @, and @ for their rapid translation!

Ecco a voi il report di agosto sull'epidemiologia genetica di COVID-19
tradotto in Italiano!
Esaminiamo la diffusione globale del virus e forniamo a

[2020-08-25 21:35] cassiawag commented on #220
Thank you Alice! I've tweeted it :)

[2020-08-25 21:35] #220 closed

[2020-08-26 09:44] aliceLedda commented on #220
Thank you Cassia!
:)

On Tue, Aug 25, 2020 at 10:35 PM cassiawag <notifications@github.com> wrote:

[2020-08-26 17:50] #222 closed

[2020-08-29 10:21] fzhang12 commented on #223
I reviewed @lxy0107 work and it was great as usually.

Twitter post
请翻阅我们对于新冠肺炎最新的八月报告中文版。这一期，我们探索了新冠病毒在全世界范围内的传播，针对每一个地区更新了一些内容。
非常感谢 @3Xueying 和 @fengjun_zhang 的翻译！

Sorry that I had to remove the word "fast" in twitter post
And my apologies to the late respond @cassiawag

[2020-08-29 10:29] fzhang12 commented on #221
I went through really quick at the changes of @satotake and the other part of the content from @tomoyuki-nezu
I think it all good and for me fluent enough
So i would suggest it ready for publication.

Thanks both and happy working with you

[2020-08-30 06:44] cassiawag commented on #221
Thank you @fzhang12, @satotake & @tomoyuki-nezu :)

It's published and tweeted: https://nextstrain.org/narratives/ncov/sit-rep/ja/2020-08-14

[2020-08-30 06:44] #221 closed

[2020-08-30 06:44] cassiawag commented on #223
Thank you at @lxy0107 & @fzhang12!

It's published and tweeted: https://nextstrain.org/narratives/ncov/sit-rep/zh/2020-08-14

[2020-08-30 06:44] #223 closed